@import  url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.body{
    font-family: 'Commissioner', sans-serif;
    font-family: 'Poppins', sans-serif;
}



header{
    width: 100%;
    padding: 40px;
    text-align: center;

}


nav ul{
    top: 0;
    position: sticky;
    z-index: 999;
    width: 100%;
    padding-left: 20%;
    list-style: none;
    background:#3F0047;
    display: block;

}


nav ul li{
top: 0px;
display: inline-block;
padding: 20px;
transition: all ease-in-out 250ms;

}

ul li a{
    top: 0px;
    position: sticky;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-family: 'Commissioner', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    position: sticky;
    background: lightslategray
}

.container{
    top: 0px;
    position: sticky;; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

img{

    position: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
  }
  
  
  .contenedor{
    width: 100%;
    position: relative;
    height: 780px;
  }
  
  .botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  
  }
  
  .botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
  }
  
  .back{
    left: 3%;
    top: 30%
  }
  
  .next{
    right: 3%;
    top: 30%
  }

  .morado{
    margin-left: 60px;
    margin-top: 30px;
    position: absolute;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;

  }

  .cuadrado{
    padding: 0;
    height: 300px;
    text-align:center;
    font-size:300%;
    width: 300%;

  }

  .lista{
    padding-left: 50px;
    padding-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size:200%;
    color: black;

  }

  .lista2{
    padding-left: 700px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size:200%;
    color: black;

  }

  .morado2{
    padding-left: 900px;
    margin-top: 30px;
    position: absolute;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;

  }

  .cuadrito{
    background:#827397;
  }

  .parrafo{
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    margin-left: 30px;
    margin-top: 50px;
    color: black;
  
  }

  .fotografia{
    width: 300px;
    height: 300px;

  }
  
  .about_me{
    display: flex;
    background-color: #827397;
    justify-content: space-around;
  }
  
  .experiencia{
        
       }
  